<h2>Todos os Alunos</h2>

<div class="filter">
<p>Filtro:</p>
<form action="">
    <div>
        <label for="nome">Nome: </label>
        <input id="nome" type="text">
    </div>

    <div>
        <label for="sexo">Sexo: </label>
        <select name="sexo" id="sexo">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
    </div>


    <div>
        <label for="dascido_em">Data de nascimento: </label>
        <input id="dacsido_em" type="date">
    </div>

    <div>
        <label for="escola">Escola: </label>
        <select name="escola" id="escola">
            <option value="1">Escola tal</option>
            <option value="2">Escola tal</option>
            <option value="3">Escola tal</option>
            <option value="4">Escola tal</option>
        </select>
    </div>
    
    <div>
        <label for="bairro">Bairro: </label>
        <select name="bairro" id="bairro">
            <option value="1">Bairro tal</option>
            <option value="2">Bairro tal</option>
            <option value="3">Bairro tal</option>
            <option value="4">Bairro tal</option>
        </select>
    </div>

    <div>
        <label for="serie">Série: </label>
        <select name="serie" id="serie">
            <option value="1">Série tal</option>
            <option value="2">Série tal</option>
            <option value="3">Série tal</option>
            <option value="4">Série tal</option>
        </select>
    </div>

    <button type="submit">Filtrar</button>
</form>
</div>

<div class="alunos">
    <table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Sexo</th>
        <th>Rua</th>
        <th>Bairro</th>
        <th>Escola</th>
        <th>Série</th>
        <th>Data de Nascimento</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Aluno 1</td>
        <td>aluno1@email.com</td>
        <td>M</td>
        <td>Rua tal</td>
        <td>Bairro tal</td>
        <td>Escola tal</td>
        <td>Série tal</td>
        <td>2000-01-01</td>
        <td>
        <a href="#" class="button normal">Visualizar</a>
        <a href="#" class="button normal">Editar</a>
        <a href="#" class="button delete">Remover</a>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Aluno 1</td>
        <td>aluno1@email.com</td>
        <td>M</td>
        <td>Rua tal</td>
        <td>Bairro tal</td>
        <td>Escola tal</td>
        <td>Série tal</td>
        <td>2000-01-01</td>
        <td>
        <a href="#" class="button normal">Visualizar</a>
        <a href="#" class="button normal">Editar</a>
        <a href="#" class="button delete">Remover</a>
        </td>
    </tr>
    </table>
</div>
</div>