<h2>Todos os Bairros</h2>

<div class="filter">
<p>Filtro:</p>
<form action="">
    <div>
        <label for="nome">Nome: </label>
        <input id="nome" type="text">
    </div>

    <button type="submit">Filtrar</button>
</form>
</div>

<div class="bairros">
    <table>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
      <tr>
          <td>1</td>
          <td>Bairro 1</td>
          <td>
              <a class="button" href="#">Editar</a>
              <a class="button" href="#">Excluir</a>
          </td>
      </tr>
    </table>
</div>
</div>