.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centralizar_barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iniciar{
    height: 100vh;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}
#borda_imagem{
    display: flex;
    justify-content: left;
    background-image: url('/public/images/imagem_fundo.jpg');
    background-size: cover;
    background-position: center;
    width: 90%;
    max-width: 400px; /* no mobile */
    height: 350px;
    min-height: 10%;
    max-height: 15%;
    border-width: 2px;
    border: solid;
    border-color: black;
}
.botao{
    margin-top: 1.5vh;
    padding: 2px 20px;
    border-radius: 30px;
    background-color: #023859;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* height: 50px; */
    min-height: 10px;
    /* max-height: 120px; */
    font-size: 16px;
    cursor: pointer;
}
.botao:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #012f47;
}
.botao_correto{
    background-color: #53cf15;
    cursor: pointer;


    & .alternativa{
        color: #53cf15;
    }
}
.botao_demorou{
    background-color: #cc9022;
    cursor: pointer;


    & .alternativa{
        color: #cc9022;
    }
}
.botao_correto:hover{
    cursor: pointer;
    background-color: #53cf15;
}
.botao_incorreto{
    background-color: #cf1515;
    cursor: pointer;

    & .alternativa{
        color: #cf1515;
    }
}
.botao_incorreto:hover{
    cursor: pointer;
    background-color: #cf1515;
}
.botao_iniciar{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #023859;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 50px;
    min-height: 10px;
    max-height: 120px;
    font-size: 24px;
}
.botao_iniciar:hover{
    transition: 0.2s;
    cursor: pointer;
    margin-bottom: 0.5vh;
    background-color: #012f47;
    
}
.circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    min-width: 50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 10px;
    font-size: 30px;
}
.centralizar_elemento{
    display: flex;
    justify-content: center;
    text-align: center;
}
.resposta{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.respostas{
    max-width: 380px;
}
.alternativa{
    color: #023859;
}
.caixa_triangulo{
    display: flex;
    justify-content: left;
    margin-left: 12vh;
}
.triangulo {
    display: flex;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
}
#container{
    width: 100%;
    display: flex;
    justify-content: left;
}
#container_foca{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 250px;
}
#foca{
    width: 90%;
    max-width: 200px;
    max-height: 250px;

}
.container_texto{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa_texto{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    max-width: 500px;
    width: 80%;
    padding: 5% 5% 5% 5%;
    background-color: rgb(255, 255, 255);
}
.container_imagem{
    width: 200px;
    margin-right: 2vh;
}
.imagem{
    max-width: 200px;
    width: 100%;
    margin-right: 2vh;
}
.proxima_pergunta{

    & .botao{
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #023859;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        max-width: 400px;
        height: 50px;
        min-height: 10px;
        max-height: 120px;
        font-size: 20px;
    }
}
.botao_proxima{
    cursor: pointer;
    margin-top: 2vh;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #023859;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 400px;
    height: 50px;
    min-height: 10px;
    max-height: 120px;
    font-size: 20px;
}
.botao_proxima:hover{
    transition: 0.2s;
    cursor: pointer;
    margin-bottom: 0.5vh;
    background-color: #012f47;
    
}
.botao_sair{
    cursor: pointer;
    margin-top: 2vh;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #023859;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 400px;
    height: 50px;
    min-height: 10px;
    max-height: 120px;
    font-size: 20px;
}
.botao_sair:hover{
    transition: 0.2s;
    cursor: pointer;
    margin-bottom: 0.5vh;
    background-color: #012f47;
    
}
.hide{
    display: none;
}
.container_barra{
    display: flex;
    max-width: 400px;
    width: 90%;
    height: 1.5rem;
    background-color: #dddddd;
    border: 1px solid #333;
    border-radius: 18px;
    margin-bottom: 0.5rem;
    margin-top: 8vh;
    position: relative;
    overflow: hidden;

    & .progresso{
        width: 100%;
        height: 100%;
        .barra {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgb(0, 255, 0);
        }
    }
}

.acabou{
    margin-top: 2vh;
    font-size: 30px;
}

@media screen and (min-width: 1022px){
    .container_barra{
        margin-top: 15vh;
    }
}